body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px;
    padding-top: 0%;
    margin:0px;
    font-size: 1.5vw;
}

#vid {
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1{
    background-color:steelblue ;
    color: white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}
header img {
    position: absolute;
    top: 9px;
    left: 10px;
    display: flex;
    height: auto;
}


 /* Container holding the image and the text */
 .image-container {
    position: relative;
    width: 100%; /* Adjust the width as needed */
}

/* The image */
.image-container img {
    width: 100%; /* Make the image responsive */
    height: 100%;
}

/* The text over the image */
.text-overlay {
    position: absolute;
    top: 90%; /* Position the text in the middle */
    left: 50%;
    transform: translate(-50%, -90%);
    color: white; /* Text color */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5); /* Optional background for better readability */
    padding: 10px; /* Optional padding around text */
}
h2 {
    text-align: center;
}

#links{
grid-area: links;
background-color: rgb(28, 49, 87);
position: sticky;
top: 0px;
color: white;
padding: 30px;
box-sizing: border-box;
height: 100vh;
margin-top: -58px;
}


#links > h4 {
text-decoration: underline;
color: white;
}

#links a {
    text-decoration: none;
    color: white;
}

#content{
    padding: 32px;
    grid-area: content;
}

#all {
    display: grid;
    grid-template-areas: 
    "links content";
    grid-template-columns: 1fr 6fr;
}

#main-content {
    grid-area: main;
}

#main-content {
    display: grid;
    grid-template-areas: 
    "main";
    grid-template-columns: 33fr 33fr 33fr;
}

footer {
    text-align: center;
    background-color: rgb(191, 53, 53);
}

footer a {
    color: white;        /* Text color */
    text-decoration: none; /* Remove underline */
    font-weight: bold;  
    font-size: 30px;
}

form {
    text-align: center;
    padding: 16px;
}


#charities {
    text-align: center;
    padding: 30px;
}

#news {
    text-align: center;
} 
#newsletter {
    background-image: url('giphy.webp'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevents tiling of the image */
    height: 100vh; /* Full viewport height */
    margin: 0;
}

.gallery-container img {
    position: relative;
    top: 20px;
    left: 275px;
    width: 800px; /* Adjust width */
    height: 500px; /* Maintain aspect ratio */
    border-radius: 20px;
    margin-bottom: 40px;
}

